#include <stdbool.h>
#include <stdio.h>

#include "common/cs_dbg.h"

#include "fw/src/mgos_app.h"

{{range .Deps}}
extern bool mgos_{{.}}_init(void);{{end}}

bool mgos_deps_init(void) {
{{range .Deps}}
  if (!mgos_{{.}}_init()) {
    LOG(LL_ERROR, ("%s init failed", "{{.}}"));
    return false;
  }
{{end}}
  return true;
}
