.spinner {
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  border: 0.15em solid rgba(255,255,255,.5);;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}
@keyframes spin { to { transform: rotate(360deg); } }
@-webkit-keyframes spin { to { -webkit-transform: rotate(360deg); } }