@font-face { font-family: MetropolisRegular; src: url("../fonts/Metropolis-Regular.otf") format("opentype"); }
@font-face { font-family: MetropolisBold; src: url("../fonts/Metropolis-Bold.otf") format("opentype"); }
html, body { height: 100vh; padding: 0; margin: 0;}
* { outline: none !important; }
body { color: #454955; font: 15px/1.5 MetropolisRegular, Helvetica, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6, b, th, strong, .nav-link { font-family: MetropolisBold, Helvetica, Arial, sans-serif; color: #777; }
.login form { max-width: 640px; }
.btn,
select,
input,
label::before,
textarea {
  outline: none; box-shadow:none !important; 
  border: 1px solid #ccc !important; 
}
code, pre, .pre, .CodeMirror {
  font-family: Menlo, 'Ubuntu Mono', Consolas, Courier, monospace !important;
  border-radius: 0.3em;
  color: #575 !important;
  background: #f5f5f5;
  font-weight: bold;
  font-size: 13px !important;
  line-height: 15px !important;
  overflow: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
