html, body { height: 100%; }
body { color: #666;  background-color: #eee; }

code { color: green; white-space: pre !important;}
.ace_doc-tooltip {
  white-space: normal !important; box-shadow: none !important;
  border: 1px solid #ccc !important; padding: 0 1em !important; background: #fff !important;
}
.ace_doc-tooltip pre { cursor: pointer !important; }

/* DASHBOARD STYLES */
.left_col.menu_fixed { top: 48px; overflow-y: auto; }
.side-menu { margin-top: 0 !important;}
#top_nav { line-height: 36px; margin: 0 10px 0 -80px; border-bottom: 1px solid #ccc; position: relative; }
#breadcrumb { font-size: 20px; text-transform: capitalize !important; }
#devinfo { min-width: 15em; display: inline-block; }
#page { margin-left: 80px; margin-right: 1em; }
#d1 { display: flex; flex-direction: column; }
#app_view { flex: 0 0 auto; min-height: 200px; position: relative; }
#device-logs-panel { flex: 1 1 auto; }
.splitter-horizontal { height: 18px; background: #ccc; cursor: row-resize; margin: 0; }
.panel-title { margin: 5px 10px; }
#app_view .panel { padding: 0 1em; }
.main-left-column { height: 100%; padding: 0; margin: 0; }
.main-right-column { height: 100%; padding: 0; margin: 0; }
.stderr { color: #77e; font-weight: bold; }
.ui-pnotify { right: 22px; top: 82px; }
.devonline { color: green; }
.devoffline { color: red; }

/* FILE MANAGER PAGE */
#file-list { overflow-y: auto; }
#file-textarea { font-family: Consolas, Menlo, Monaco, monospace; }
.upcontrol { position: absolute; top: 40px; bottom: 0; overflow-y: auto; width: 100%; left: 0; right: 0;}
#device-logs { font-size: 90%; overflow-y: auto; line-height: 1.2em; background: #fff; width: 100%; top: 32px;}
#editor { height: 100%; background: #fff; border-radius: 0.3em; }
.file .file-size { color: silver; }
.file.is_js { color: #ffa500; }
.file.is_json { color: #3cb371; }
.file.is_api { color: silver; }
.file.is_jsc { color: #f99; }
.file.selected { background: #f0f0f0; }

/* TERMINAL PAGE */
#terminal-output { background: #fff; border-radius: 0.3em; top: 54px; width: 100%;}
.terminal-cmd-in, .terminal-cmd-out { margin: 0 1em; color: #44c; white-space: pre; font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace }
.terminal-cmd-in { color: #44c; font-weight: bold; }
.terminal-cmd-out { color: #777; overflow-y: auto; }

/* CONFIG PAGE */
#config label { margin-left: 0; margin-right: 1em; width: 20em; }
#config .param { padding-top: 0.4em; }
#config { overflow-y: auto; }

/* WIZARD STYLES */
.wizard .panel-body, .wizard .panel-footer { padding-left: 3em; padding-right: 3em; }
.tab-pane h3 { margin: 3em 0 1em; }
.step-image-div { background: #0e7cac; border-radius: 0.4em; min-height: 200px;}
.panel-footer { background-color: #fff; }
.navbar a.active { color: #000; font-weight: bold; }
.navbar a.active:hover { text-decoration: none; }
.wizard-image { height: 240px; max-width: 100%; }
.red { color: #f66 !important; }
#wizard-button-next, #wizard-button-prev { position: relative; }
#wizard-button-next.spinner, #wizard-button-prev.spinner { color: transparent; }
#main-title { margin: 0.5em 0; font-size: 30px; font-weight: 300; }
.link { cursor: pointer; }

/* COMMON STUFF */
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}

input, textarea, button,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #ccc ;
  box-shadow: none;
  outline: 0 none !important;
}


.bootstrapWizard {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%;
}

.bootstrapWizard a:hover,.bootstrapWizard a:active,.bootstrapWizard a:focus {
    text-decoration: none
}

.bootstrapWizard li {
    display: block;
    float: left;
    width: 20%;
    text-align: center;
    padding-left: 0
}

.bootstrapWizard li:before {
    border-top: 3px solid #55606E;
    content: "";
    display: block;
    font-size: 0;
    overflow: hidden;
    position: relative;
    top: 11px;
    right: 1px;
    width: 100%;
    z-index: 1
}

.bootstrapWizard li:first-child:before {
    left: 50%;
    max-width: 50%
}

.bootstrapWizard li:last-child:before {
    max-width: 50%;
    width: 50%
}

.bootstrapWizard li.complete .step {
    background: #0aa66e;
    padding: 1px 6px;
    border: 3px solid #55606E
}

.bootstrapWizard li .step i {
    font-size: 10px;
    font-weight: 400;
    position: relative;
    top: -1.5px
}

.bootstrapWizard li .step {
    background: #B2B5B9;
    color: #fff;
    display: inline;
    font-size: 15px;
    font-weight: 700;
    line-height: 12px;
    padding: 7px 13px;
    border: 3px solid transparent;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s
}

.bootstrapWizard li.active .step,.bootstrapWizard li.active.complete .step {
    background: orange;
    color: #fff;
    font-weight: 700;
    padding: 7px 13px;
    font-size: 15px;
    border-radius: 50%;
    border: 3px solid #55606E;
}

.bootstrapWizard li.complete .title,.bootstrapWizard li.active .title {
    color: #2B3D53
}

.bootstrapWizard li .title {
    color: #bfbfbf;
    display: block;
    font-size: 13px;
    line-height: 15px;
    max-width: 100%;
    position: relative;
    table-layout: fixed;
    text-align: center;
    top: 20px;
    word-wrap: break-word;
    z-index: 104
}

.wizard-actions {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%
}

.wizard-actions li {
    display: inline
}

.tab-content.transparent {
    background-color: transparent
}

/*End Wizard*/
