#include <stdbool.h>
#include <stdio.h>

#include "common/cs_dbg.h"

#include "fw/src/mgos_app.h"

{{range .Libs}}
extern bool mgos_{{.Name}}_init(void);{{end}}

static const struct lib_descr {
  const char *title;
  bool (*init)(void);
} descrs[] = {
{{range .Libs}}
  // "{{.Name}}". deps: [ {{range .Deps}}"{{.}}" {{end}}]
  {
    .title = "{{.Name}}",
    .init = mgos_{{.Name}}_init,
  },
{{end}}
};

bool mgos_deps_init(void) {
  size_t i;
  for (i = 0; i < sizeof(descrs) / sizeof(struct lib_descr); i++) {
    LOG(LL_DEBUG, ("init %s...", descrs[i].title));
    if (!descrs[i].init()) {
      LOG(LL_ERROR, ("%s init failed", descrs[i].title));
      return false;
    }
  }

  return true;
}
